/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/Tahoma.svg#Tahoma") format("svg"), url("../fonts/Tahoma.ttf") format("truetype"), url("../fonts/Tahoma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tahoma';
  src: url("../fonts/tahoma.eot");
  src: url("../fonts/tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/tahoma.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma-Bold';
  src: url("../fonts/Tahoma-Bold.svg#Tahoma-Bold") format("svg"), url("../fonts/Tahoma-Bold.ttf") format("truetype"), url("../fonts/Tahoma-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tahomabd';
  src: url("../fonts/tahomabd.eot");
  src: url("../fonts/tahomabd.eot?#iefix") format("embedded-opentype"), url("../fonts/tahomabd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dotum';
  src: url("../fonts/dotum.ttc");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic';
  src: url("../fonts/NanumGothic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'dotum', sans-serif;
  font-size: 11px;
  color: #666666;
  max-width: 452px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body, a {
  color: #2d2c2d;
}

a {
  text-decoration: none;
}

.bold, .noti-list-number > li:nth-child(-n + 3) .noti-list-right {
  font-family: 'tahomabd', sans-serif;
  font-weight: 700;
}

strong {
  font-weight: bold;
}

.color-pink {
  color: #cf3292;
}

.color-blue, .noti-list-number > li:nth-child(-n + 3) a .noti-list-right {
  color: #7189a7;
}

.color-gray, .noti-list-right {
  color: #a8a8a8;
}

.color-darkgray, .faq {
  color: #535353;
}

.font-tahoma, .noti-list-right, .noti-more, .faq-tit, .faq-wrap dd {
  font-family: 'tahoma', sans-serif;
}

.font-nanum, .faq-more, .faq-wrap dt {
  font-family: 'NanumGothic', sans-serif;
}

.size11, .noti-list-right {
  font-size: 12px;
}

.lh-17 {
  line-height: 17.93px;
}

.sec {
  border: 1px solid #ddd;
  margin-bottom: 14px;
  position: relative;
}

.noti-tit {
  padding: 10px 14px;
  font-family: 'tahoma', sans-serif;
  font-size: 12px;
}

.noti-list {
  padding: 14px;
  border-top: 1px solid #ccc;
}

.noti-list-arrow > li {
  background: url(../img/list.jpg);
  padding-left: 12px;
}

.noti-list-arrow > li:not(:last-child) {
  margin-bottom: 10px;
}

.noti-list-number {
  font-family: 'dotum', sans-serif;
  background: url(../img/bg-list.jpg);
  background-repeat: no-repeat;
  background-position: 14px 14px;
}

.noti-list-number > li {
  padding-left: 22px;
}

.noti-list-number > li:not(:last-child) {
  margin-bottom: 12px;
}

.noti-list > li {
  background-position: top 4px left;
  background-repeat: no-repeat;
}

.noti-list-link {
  width: 100%;
  position: relative;
  display: block;
}

.noti-list-link > .noti-list-right {
  position: absolute;
  top: 0;
  right: 0;
}

.noti-list-link > span:first-child {
  padding-right: 70px;
  display: inline-block;
}

.noti-more {
  background: url(../img/pink-list.jpg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 14px;
  position: absolute;
  top: 10px;
  right: 14px;
}

.faq {
  position: relative;
  padding-bottom: 40px;
}

.faq-tit {
  padding-bottom: 10px;
  font-size: 19px;
}

.faq-more {
  position: absolute;
  top: 0;
  right: 0;
}

.faq-wrap {
  padding: 10px 14px;
  border-top: 1px solid #e8e8e8;
}

.faq-wrap dt {
  line-height: 11px;
  word-spacing: -50;
  padding-bottom: 20px;
}

.faq-wrap dd {
  line-height: 14px;
  word-spacing: -20;
}
/*# sourceMappingURL=style.css.map */