@import './reset';
//@import './main';
@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.svg#Tahoma') format('svg'),
         url('../fonts/Tahoma.ttf') format('truetype'),
         url('../fonts/Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'tahoma';
    src: url('../fonts/tahoma.eot');
    src: url('../fonts/tahoma.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tahoma.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Tahoma-Bold';
    src: url('../fonts/Tahoma-Bold.svg#Tahoma-Bold') format('svg'),
         url('../fonts/Tahoma-Bold.ttf') format('truetype'),
         url('../fonts/Tahoma-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'tahomabd';
    src: url('../fonts/tahomabd.eot');
    src: url('../fonts/tahomabd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tahomabd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'dotum';
    src: url('../fonts/dotum.ttc');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'NanumGothic';
    src: url('../fonts/NanumGothic-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  body{
      font-family: 'dotum', sans-serif;
      font-size: 11px;
      color: #666666;
      max-width: 452px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
  }
  body, a{color:#2d2c2d;}
  a{text-decoration: none}
  .bold{
    font-family: 'tahomabd', sans-serif;
    font-weight: 700;
  }
  strong {
    font-weight: bold;
  }
  .color-pink{color:#cf3292}
  .color-blue{color: #7189a7}
  .color-gray{color:#a8a8a8}
  .color-darkgray{color: #535353;}
  .font-tahoma{font-family: 'tahoma', sans-serif;}
  .font-nanum{font-family: 'NanumGothic', sans-serif;}
  .size11{font-size: 12px}
  //.bg-norepeat{background-repeat: no-repeat}
// .container{
//     max-width: 452px;// width - padding
//     margin: auto;
//     padding-left: 20px;
//     padding-right: 20px;
//     display: block;
// }
.lh-17{
    line-height: 17.93px;
}
.sec {
    //padding: 10px 14px;
    border: 1px solid #ddd;
    //margin-top: 12px;
    margin-bottom: 14px;
    position: relative;
}
.noti{
    &-tit{
        padding: 10px 14px;
        font-family: 'tahoma', sans-serif;
        font-size: 12px;
        
    }

    &-list{
        padding: 14px;
        border-top: 1px solid #ccc;
        &-right{
            @extend .font-tahoma,  .color-gray, .size11;
        }
        &-arrow > li{
            background: url(../img/list.jpg);
            padding-left: 12px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        &-number{
            font-family: 'dotum', sans-serif;
            background: url(../img/bg-list.jpg);
            background-repeat: no-repeat;
            background-position: 14px 14px;
            & > li {
                padding-left: 22px;
                &:not(:last-child){
                    margin-bottom: 12px;
                }
                &:nth-child(-n + 3) {
                    & a .noti-list-right{
                        @extend .color-blue;
                    }
                    & .noti-list-right{
                        @extend .bold;
                    }
                }
                // &:nth-child(1){
                //     background: url(../img/bg-list.jpg);
                //     background-repeat: no-repeat; 
                // }
                // &:nth-child(2){
                //     background: url(../img/bg-list.jpg);
                //     background-repeat: no-repeat; 
                //     background-position: 0 -23px;
                // }
                // &:nth-child(3){
                //     background: url(../img/bg-list.jpg);
                //     background-repeat: no-repeat; 
                //     background-position: 0 -46px;
                // }
                // &:nth-child(4){
                //     background: url(../img/bg-list.jpg);
                //     background-repeat: no-repeat; 
                //     background-position: 0 -69px;
                // }
                // &:nth-child(5){
                //     background: url(../img/bg-list.jpg);
                //     background-repeat: no-repeat; 
                //     background-position: 0 -92px;
                // }
            }
        }
        & > li {
            
            background-position: top 4px left;
            background-repeat: no-repeat; 
            //line-height: 23px;
            
        }
        &-link{
            width: 100%;
            position: relative;
            display: block;
            & > .noti-list-right{
                position: absolute;
                top: 0;
                right: 0;
            }
            & > span:first-child{
                padding-right: 70px;
                display: inline-block;
            }
        }
    }
    &-more{
        @extend .font-tahoma;
        background: url(../img/pink-list.jpg);
        background-repeat: no-repeat;
        background-position: 0 2px;
        padding-left: 14px;
        position: absolute;
        top: 10px;
        right: 14px;
    }
} 
.faq{
    position: relative;
    @extend .color-darkgray;
    padding-bottom: 40px;
    &-tit{
        padding-bottom: 10px;
        font-size: 19px;
        @extend .font-tahoma;
    }
    &-more{
        position: absolute;
        top: 0;
        right: 0;
        @extend .font-nanum;
    }
    &-wrap{
        padding: 10px 14px;
        border-top: 1px solid #e8e8e8;
        & dt {
            line-height: 11px;
            word-spacing: -50;
            @extend .font-nanum;
            padding-bottom: 20px;
        }
        & dd{
            @extend .font-tahoma;
            line-height: 14px;
            word-spacing: -20;
        }
    }
}
    